.dataEntry {
    display: flex;
    flex-direction : column;
    margin-bottom: 1rem;
}

input {
    max-width: 500px;
    padding: 0.5rem;
    margin: 1rem 0;
}

.inputError {
    font-size: small;
    color: tomato;
}

.dataEntry sup {
    font-size: small;
}

#amountInput:focus + #amountAdvice{
    color: tomato;
}

.sheetStyle {
    display:flex;
    justify-content: flex-start;
    width: 90vw;
    max-width: 500px;
}

.sheetStyle table {
    width: 100%;
    text-align: left;
    flex-grow: 2;
}
table thead {
    font-size: 20px;
}

table thead th .tableDate {
    width: 10%;
}
table thead th .tableConcept {
    width: 40%;
}

table thead th .tableAmount {
    width: 20%;
}

table tbody {
    font-size: 16px;
}

table tbody button {
    background-color: transparent;
    padding: none;
    margin: none;
    border: none;
    font-size: 1.15rem;
}
